################
# General Config
################

# disables auto-listing directory contents
Options -Indexes

# works???
ErrorDocument 403 /public/403.html
ErrorDocument 404 /public/404.html

RewriteEngine on

##################
# General Rewrites
##################

# prevents serving hidden files like .htaccess and .git
# (leading slash means start-of-directory)
RedirectMatch 404 "/\."

# removes www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ %{ENV:PROTO}://%1%{REQUEST_URI} [R=301,L]

#######################
# App-Specific Rewrites
#######################

# if non-empty non-whitelisted referrer requesting a release file, serve the "forbidden" page
RewriteCond %{REQUEST_URI} ^/releases/.*\.(js|css)$
RewriteCond %{HTTP_REFERER} !^($|https?://([^/]*\.|)(fullcalendar|codepen|cdpn|jsbin|jsfiddle|jshell|plnkr|localhost|127\.0\.0\.1))
RewriteRule .* - [F]

# old release URLs that started with /js/
RewriteRule ^(fullcalendar(-scheduler)?)-([^/]+)/(.+)$ $1/$3/$4 [L]

# NOTE: the "latest" release redirects happen in the 404 Redirect handler!!!
# TODO: remove /release/ paths here
